body {
	background-color:#ecf0f1;
}

#scrollBack {
	position:fixed;
	right:50px;
	bottom:50px;
	width:50px;
	height:50px;
	line-height: 60px;
	text-align: center;
	border-radius:50%;
	display: none;
}

#scrollBack li {
	position:absolute;
	top:15%;
	left:22%;
}

#formLogin {
	position: fixed;
	z-index: 100;
	top:10%;
	right:1%;
	display: none;

}

.n-link {
	line-height: 50px;
	width:50px;height:50px;
	border-radius:50%;
	color:#CCC;
	padding:0px 20px;
}

.n-link:hover {
	color:#FFFFFF;
}

.n-link-fb:hover {
	background-color:#0652DD;
}

.n-link-t:hover {
	background-color:#12CBC4;
}

#btnSeacrch {
	cursor: pointer;
}

.body-ico {
	width:30px;height:30px;
}

.border {
	border:2px solid #000; 
	background-color:#2c3e50;
	color:#FFF;
}

.evenements {
	margin-top:40px;
	font-size:15px;
	color:#2c3e50;
}

.navigation {
	margin-top:40px;
	font-size:15px;
	color:#2c3e50;
}
a{
	color:#2c3e50;
}

a:hover{
	color:#e74c3c;
	text-decoration: none
}

.artic {
	margin-top:40px;
	font-size:15px;
	color:#2c3e50;
}

.f-bu {
	margin:20px 0;
}

.f-end-link {
	width:auto;height:50px;
	margin:10px 0;
	padding:12px 18px;
}

.f-end-link:hover {
	color:#FFFFFF;
	background-color:#2980b9;
}